* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 50%;
    height: 50%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    color: black;
    text-align: center;
    margin-bottom: 2rem;
}

#username {
    padding: 10px;
    width: 250px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid crimson;
}


#search-btn {
    padding: 10px;
    background-color: crimson;
   color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: black;
    color: wheat;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(123, 123, 202, 0.59);
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-info img {
    border-radius: 50%;
    margin-bottom: 20px;
}

.user-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

.user-info p {
    font-size: 16px;
    margin-bottom: 5px;
    color: black;
}

footer {
    text-align: center;
    margin-top: 50px;
    color: #777;
}

@media (max-width: 600px) {
    #username {
        width: 20%;
    }

    .user-info {
        padding: 10px;
    }

    .user-info img {
        width: 50px;
        height: 50px;
    }

    .user-info h2 {
        font-size: 12px;
    }
}
